<div class="comment">
        <h4>{{ comment.name }}</h4>
        <span>
            <i class="fa fa-star sr-icons"></i>
            <i class="fa fa-star sr-icons"></i>
            <i class="fa fa-star sr-icons"></i>
            <i class="fa fa-star sr-icons"></i>
            <i class="fa fa-star sr-icons"></i>
          </span>
        <p class="time">{{ comment.publishedAt | date('d') }} {{ comment.publishedAt | date('F') }}</p>
        <hr>
        <p>{{ comment.text }}</p>
</div>