{% extends 'base.html.twig' %}
{% block title%}New Post{% endblock %}
{% block body%}
    <!-- Principal Content Start -->
    <div id="new Post">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <h1>New Post</h1>
                {{ form(form, {'attr': {'class':'form-horizontal'}}) }}
                <hr class="divider">
            </div>
        </div>
    </div>
    <!-- Principal Content Start -->
{% endblock %}
