{% extends 'base.html.twig' %}
{% block title %}THANK YOU{% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Thankyou!</h1>
        <p class="lead">Thanks for getting in touch with us.</p>
    </div>
</div>
{% endblock %}